<div class="outerbox">
  <div class="container">
    <h1>Login</h1>

    <form [formGroup]="userAccount" (ngSubmit)="onSubmit()">

    
       <div class="input-box">
        <i class="fa-solid fa-envelope icon"></i>
        <input type="email" placeholder="Email" formControlName="email" />
       </div>

                <div   *ngIf="userAccount.get('email')?.touched && userAccount.get('email')?.invalid">
                 <span *ngIf="userAccount.get('email')?.errors?.['required']">Email is required.</span>
                 <span *ngIf="userAccount.get('email')?.errors?.['email']">Please enter a  Valid Email address.</span>
                </div>
     
       <div class="input-box">
        <i class="fa-solid fa-lock icon"></i>
        <input type="password" placeholder="Password" formControlName="password"/>
       </div>

                <div *ngIf="userAccount.get('password')?.touched && userAccount.get('password')?.invalid">
                <span *ngIf="userAccount.get('password')?.errors?.['required']">Password is Required</span>
                <span *ngIf="userAccount.get('password')?.errors?.['minlength']">Minimum 6 characters required</span>
                <span *ngIf="userAccount.get('password')?.errors?.['pattern']">Password must contain number,atleast one uppercase letter & a special symbol</span>
                </div>
        

       <div class="remember-me" >
        <input type="checkbox" id="remember" formControlName="remember" />
        <label for="remember">Remeber me </label>
       </div>

       <div *ngIf="userAccount.get('remember')?.touched && userAccount.get('remember')?.invalid">
        <span *ngIf="userAccount.get('remember')?.errors?.['required']">please cheak the box </span>
       </div>
       
      <button type="submit"  [disabled]="userAccount.invalid" >Login</button> 

      <p class="signup-text">Not a member? <a >Sign up now</a></p>
    </form>
  </div>
</div>





